Django==5.1.1
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
pillow==10.4.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
rich==13.9.4
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.3
